@use '../../utils' as *;
/*----------------------------------------*/
/*  5.4 Blog css
/*----------------------------------------*/

.dgm-blog{
    &-content{
        min-width: 310px;
        height: 100%;
        @media #{$lg}{
            min-width: 220px;
        }
        @media #{$xs}{
            min-width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        &-wrap{
            height: 100%;
            @media #{$xs}{
                height: auto;
                flex-wrap: wrap;
            }
        }
    }
    &-meta{
        & h4{
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 2px;
            letter-spacing: -0.04em;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-grotesk);
        }
        & span{
            font-weight: 400;
            font-size: 16px;
            line-height: 1;
            color: #4d5051;
            letter-spacing: -0.04em;
        }
    }
    &-category{
        & span{
            font-weight: 400;
            font-size: 14px;
            line-height: 1;
            padding: 7px 10px;
            border-radius: 6px;
            display: inline-block;
            background-color: var(--tp-common-secondary);
            color: var(--tp-common-white);
        }
    }
    &-title-sm{
        font-weight: 500;
        font-size: 34px;
        line-height: 1;
        letter-spacing: -0.04em;
        color: var(--tp-common-black);
        font-family: var(--tp-ff-grotesk);
        @media #{$xl,$lg}{
            font-size: 30px;
        }
        @media #{$md,$xs}{
            font-size: 25px;
        }
    }
    &-title-box{
        @media #{$xs}{
            margin-bottom: 20px;
        }
    }
    &-item{
        padding-top: 35px;
        padding-bottom: 35px;
        border-top: 1px solid rgba(20, 20, 20, 0.1);
        &:hover{
            & .dgm-blog-thumb{
                & img{
                    transform: scale(1.1) rotate(-2deg);
                }
            }
        }
    }
    &-main{
        border-bottom: 1px solid rgba(20, 20, 20, 0.1);
    }
    &-thumb{
        position: relative;
        display: inline-block;
        overflow: hidden;
        @media #{$md,$xs}{
            margin-top: 20px;
        }
        @media #{$xs}{
            width: 100%;
        }
        & img{
            width: 100%;
            height: 160px;
            transition: .9s;
            object-fit: cover;
            @media #{$xs}{
                width: 100%;
            }
        }
        &-overlay{
            position: absolute;
            inset: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.25);
            pointer-events: none;
        }
    }
}
