@use '../../utils' as *;

/*----------------------------------------*/
/*  7.9 Testimonail Css
/*----------------------------------------*/
.dgm-testimonial {
    &-quote {
        margin-bottom: 15px;

        & span {
            color: var(--tp-common-black);
        }
    }

    &-text {
        margin-bottom: 35px;

        & p {
            font-weight: 400;
            font-size: 22px;
            line-height: 1.56;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-grotesk);
        }
    }

    &-author {
        display: inline-block;

        &-wrap {
            margin-bottom: 40px;
        }

        &-img {
            border-radius: 50%;
            border: 2px solid var(--tp-common-white);
        }

        &-logo {
            position: absolute;
            bottom: -5px;
            right: 0;
            border-radius: 50%;
            border: 2px solid var(--tp-common-white);
        }

        &-name {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 5px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-grotesk);
        }

        &-info {
            line-height: 1;
            margin-left: 15px;
            text-align: left;

            & span {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.43;
                color: #525356;
            }
        }
    }

    &-slider-wrap {
        padding: 0px 170px;

        @media #{$x3l} {
            padding: 0px 80px;
        }

        @media #{$xxl} {
            padding: 0px 70px;
        }

        @media #{$xl,$lg,$md,$xs} {
            padding: 0px;
        }
    }

    &-dot {
        & .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            opacity: 1;
            transition: .3s;
            border-radius: 50%;
            display: inline-block;
            background: transparent;
            border: 1px solid rgba(20, 24, 32, 0.3);

            &.swiper-pagination-bullet-active {
                border-color: var(--tp-common-black);
                background-color: var(--tp-common-black);
            }
        }
    }

    &-space {
        @media #{$xl} {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @media #{$lg,$md,$xs} {
            padding-top: 0;
        }
    }

    &-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    &-thumb {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        overflow: hidden;

        @media #{$lg} {
            position: relative;
            width: 100%;
            height: 500px;
            margin-bottom: 60px;
        }

        @media #{$md} {
            position: relative;
            width: 100%;
            height: 400px;
            margin-bottom: 60px;
        }

        @media #{$xs} {
            position: relative;
            width: 100%;
            height: 250px;
            margin-bottom: 60px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & .anim-zoomin-wrap {
            height: 100%;
        }

        &-overlay {
            position: absolute;
            inset: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.25);
            pointer-events: none;
        }
    }

    &-playbtn {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        transform: translateY(-50%);
        display: inline-block;
        backdrop-filter: blur(14px);
        color: var(--tp-common-black);
        background-color: var(--tp-common-white);
        animation: animate-pulse 3s linear infinite;

        & span {
            margin-left: 2px;
        }

        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
    }

    &-radius {
        border-radius: 20px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

#paginations {
    position: absolute;
    bottom: -7px;
    left: 50%;
    @include tp-transform(translateX(-50%));
    z-index: 1;
}
